.ForgottenFragmentInfoInnerContainer {
    display: flex;
    flex-direction: column;
    margin: 7px;

    ::-webkit-scrollbar {
        display: flex;
        position: relative;
        width: 8px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        background: white;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
   
    .ForgottenFragmentInfoFragmentListContainer {
        width: 43%;
        height: 245px;
        overflow-y: scroll;

        .ForgottenFragmentInfoFragmentListFilters {
            height: 40px;
            display: flex;
            flex-direction: row;
            background-color: red;
        }
    }

    .ForgottenFragmentInfoFragmentInformationContainer {
        width: 57%;
        height: 245px;
    }
}