@font-face {
    font-family: ekmukta;
    src: url("../../../../backend/fonts/ekmukta-light.ttf") format(truetype);
}

#ForgottenFragmentContainer {
    background: url('../../../../ui/pictures/BozjaFragmentWindowCropped789x260pixels.png') no-repeat;
    font-family: ekmukta;
    line-height: 16px;
    height: 260px;
    width: 789px;
    margin-top: 3px;
    border-radius: 11px;
    flex-direction: column;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}
