// the overall div that encompasses the entire action information
.LostActionDetailedInfoBox {
    display: flex;
    flex-direction: column;
    background-color: #464646;
    border-radius: 8px;
    width: 380px;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 4px black;
    border: 1px solid black;
    color: #F4F2F2; 
    
    // the inner div for the action, needed so that our information inside our box can be moved around
    .LostActionInnerDetailedInfoBox {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
        border-radius: 8px;
        margin-top: 10px;

        // section one is the top of our div, where we have the image, action name, action type, range and radius displaying
        .LostActionSectionOne {
            display: flex;
            flex-direction: row;
            align-items: start;
            height: 50px;
            margin: 0px;
            margin-bottom: 6px;
            padding: 0px;

            // targets the div the image sits inside of
            .LostActionImage {               
                width: 50px;
                padding: 0px;
                margin: 0px;
                
                // targets images inside this div, aka our lost action
                img {
                    height: 50px;
                    border-radius: 12%;
                    box-shadow: 0px 1px 1px 1px #232323, 0px 0px 0px 1px #A0A0A0;
                }
            }

            // targets 2nd big div of section one which is the name of the lost action, type, range, radius. all actions have these properties
            .LostActionNameTypeRangeRadius {              
                display: flex;
                flex-direction: column;
                width: 100%;     
                justify-content: center;     
                height: 100%;
                
                // name is 1st div of inner div
                .LostActionName {                  
                    height: 60%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-left: -1px;

                    .ActionName {
                        padding: 0px;
                        padding-left: 9px;
                        margin: 0px;
                        font-size: 18px;
                        
                    }
                    
                }

                // this is 2nd div or inner div, split in 2
                // 1 is for type, 2nd is for range/radius
                .LostActionTypeRangeRadius {                   
                    display: flex;
                    flex-direction: row;
                    height: 40%;
                    align-items: center;
        
                    .LostActionType {
                        width: 50%;

                        .ActionType {
                            margin: 0px;
                            color: #b7b2a1;
                            padding-left: 8px;
                        }             
                    }
        
                    .LostActionRangeRadius {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 50%;
                        
                        span {
                            color: #959595;
                        }

                        .LostActionRange {
                            padding-left: 6px;
                        }
        
                        .LostActionRadius {
                            padding-right: 4px;
                        }
                    }                   
                }
            }
        }
       
        // section two is the cast/recast/available part of our div
        .LostActionSectionTwo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: end;
            height: 40px;
            margin-bottom: 5px;
            margin-right: 2px;

            
            // alignment of the 3 divs
            .LostActionCastInfo {
                width: 33.6%;                    
            }
        
            .LostActionRecastInfo {
                width: 32.3%;
                padding-right: 1px;
            }
        
            .LostActionAvailableInfo {
                width: 30.5%;
                margin-right: -1px;
            }
            
            // fancy graphic overlay
            .LostActionFancyGraphicRecast, .LostActionFancyGraphicCast, .LostActionFancyGraphicAvailable {               
                height: 6px;
                background-color: #656565;
                position: relative;
                border-radius: 35px;
                top: -5px;          
                padding: 0px;
                margin: 0px;
            }
            
            // aligning francy graphics
            .LostActionFancyGraphicCast {
                width: 96.5%;
                left: 3px;
            }
        
            .LostActionFancyGraphicRecast {
                width: 99.4%;
                left: -1px;
            }
        
            .LostActionFancyGraphicAvailable {
                width: 100%;
                left: -1.5px;
            }
            
            // aligning text/title name
            .LostActionCastRecastAvailableText {
                margin: 1px 0px;           
                color: #b7b2a1;
            }
        
            .LostActionCastRecastAvailableText.RecastText {
                margin-right: 0.5px;
            }
            
            // data div
            .LostActionParameterData {
                transform: scaleY(1.5);
                margin: 1px 0px;
                position: relative;
                z-index: 1;
                padding-right: 2px;
                padding-top: 6px;
            }          
        }     

        // description of the lost action, its HTML code has been made already in ActionData.tsx
        .LostActionSectionThree {
            margin-bottom: 5px;
            line-height: 1;
            padding-left: 3px;   
            margin-top: 7px;   
              
        }

        // affinity and jobs, the jobs are what jobs are able to use this lost action
        .LostActionSectionFour {
            display: flex;
            flex-direction: row;
            padding-left: 2px;
            .LostActionAffinity {
                width: 25%;
                color: #b7b2a1;
            }
        
            .LostActionJobs {
                width: 75%;
                padding-top: 5px;
                font-size: 16px;
            }
        }

        .LostActionSectionFive {

            .LostActionForgottenFragment {
                display: flex;
                flex-direction: row;
                margin: 6px 0px;
                align-items: center;
                position: relative;
                height: 100%;
                width: 100%;
                .LostActionForgottenFragmentImg {
                    width: 25%;
                    display: flex;
                    position: relative;
                    left: 7%;
                    img {
                        box-shadow: 0px 0px 2px white;
                        border-radius: 100%;
                        height: 35px;
                    }
                }

                .LostActionForgottenFragmentName {
                    width: 75%;
                }
            }
        }
    }
}

// the fancy graphic line separating section two and three
.LostActionSeparatorSegment {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 0px;
    margin-bottom: 4px;
    
    .LostActionSeparatorSegmentLeftEnd, .LostActionSeparatorSegmentRightEnd {
        height: 3px;
        background-color: white;
        width: 1px;
        background: linear-gradient(#242424, #444344, #6A6A6A);
    }

    .LostActionSeparatorSegmentLeftEnd {              
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;               
    }

    .LostActionSeparatorSegmentRightEnd {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .LostActionSeparatorSegmentCenter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 98%;
        
        .LostActionSeparatorSegmentCenterUpper, .LostActionSeparatorSegmentCenterMiddle, .LostActionSeparatorSegmentCenterLower {
            height: 1px;
            width: 100%; 
        }

        .LostActionSeparatorSegmentCenterUpper {                   
            background-color: #242424;                  
        }
        
        
        .LostActionSeparatorSegmentCenterMiddle {
            background-color: #444344;
        }
    
        .LostActionSeparatorSegmentCenterLower {
            background-color: #6A6A6A;
        }
    }
}