#LostFindsHolsterContainer {
    position: absolute;
    background: url('../../../ui/pictures/BozjaLostFindsHolster.png') no-repeat;
    background-size: 475px;
    width: 475px;
    height: 515px;
    z-index: 0;
    left: 800px;
    border-radius: 14px;
}