@font-face {
    font-family: ekmukta;
    src: url("../../../backend/fonts/ekmukta-light.ttf") format(truetype);
}

#LostActionInstanceTimelineResourceManagementContainer {
    position: absolute;
    background: url('../../../ui/pictures/BozjaFragmentWindowCropped475x115pixels.png') no-repeat;
    background-color: red;
    font-family: ekmukta;
    line-height: 16px;
    width: 475px;
    height: 115px;
    top: 525px;
    left: 1280px;
    z-index: 0;
    border-radius: 11px;
    flex-direction: column;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}
