.LostActionInstanceTimelineResourceManagementContentInnerContainer {
    margin: 5px;
    height: 92%;
    display: flex;
    flex-direction: column;

    .LostActionInstanceTimelineResourceManagementTitles {
        display: flex;
        flex-direction: row;
        height: 25%;
        margin-top: 5px;
        color: #F4F2F2; 
        text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;
        .LostActionInstanceTimelineResourceManagementGreaterThanZero {
            width: 63%;           
            text-align: left;
            padding-left: 73px;
            margin-left: 0px;
        }

        .LostActionInstanceTimelineResourceManagementLessThanZero {
            width: 20%;      
            text-align: right;
        }
    }

    .LostActionInstanceTimelineResourceManagementLostActions {
        display: flex;
        flex-direction: row;
        height: 75%;
        align-items: center;
        justify-content: center;

        .LostActionInstanceTimelineResourceManagementQuantityText {
            width: 15%;
            height: 100%;
            display: flex;
            align-items: end;
            padding-bottom: 25px;
            color: #F4F2F2; 
            text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;
        }

        ::-webkit-scrollbar {
            display: flex;
            position: relative;
            width: 8px;
            height: 10px;
        }
        
    
        ::-webkit-scrollbar-track {
            background: transparent;
            
        }
        
     
        ::-webkit-scrollbar-thumb {
            background: #888;
            
        }

       

        .LostActionInstanceTimelineResourceManagementLostActionDivsGreaterThanZero {
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            overflow-y: hidden;
            width: 60%;
           
        }

        .LostActionInstanceTimelineResourceManagementLostActionDivsLessThanZero {
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            overflow-y: hidden;
            width: 20%;   
            margin-left: 27px;     
        }

        .LostActionResourceToSpend {
            margin: 3px 3px;
            
            .LostActionResourceToSpendImage {
                img {
                    height: 40px;
                    box-shadow: 0px 0px 3px white;
                }
            }   

            .LostActionResourceToSpendQuantity {
                text-align: center;
                color: #F4F2F2; 
                text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;
            }
        }
    }
}