.Testing {
    display: flex;
    flex-direction: column;
    background-color: black;
    //height: 350px;
    //width: 350px;
    margin: 0px;
    padding: 0px;
    color: white;
}

.Testing1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    .Testing1Inner1 {
        display: flex;
        flex-direction: row;
    }
}