.LostActionInstanceTimelineInnerContainer {
    margin: 5px;
    display: flex;
    flex-direction: column;

    .LostActionInstanceTimelineTitleAndAddEncounter {
        display: flex;
        flex-direction: row;
       
        height: 50px;

        .LostActionInstanceTimelineTitle {
            width: 50%;
        }

    }

    .LostActionInstanceTimelineStateContainer {
        display: flex;
        flex-direction: row;
        overflow-x:auto;
        overflow-y: hidden;
        height: 200px;
        
      
        .LostActionInstanceTimelineIndividualEncounterContainer {
            width: 66%;
            flex-shrink: 0;
        }
    }
}