.Testing {
    display: flex;
    flex-direction: column;
    background-color: #464646;
    border-radius: 8px;
    width: 385px;
    margin: 0px;
    padding: 0px;
    color: white;
    box-shadow: 0px 0px 4px black;
    border: 1px solid black;
    
}

.TestingActionEncompass {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
    margin-top: 10px;
}

/*.TestingGradient {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: linear-gradient(#6d6d6d, #444444);
    height: 12px;
    width: 370px;
    
}*/

.Testing1 {
    display: flex;
    flex-direction: row;
    align-items: start;
    height: 50px;
    margin: 0px;
    margin-bottom: 6px;
    padding: 0px;

    

    .Testing1Inner1 {
        display: flex;
        flex-direction: column;
        width: 50px;
        padding: 0px;
        margin: 0px;

        img {
            height: 50px;
            border-radius: 12%;
            box-shadow: 0px 1px 1px 1px #232323, 0px 0px 0px 1px #A0A0A0;
        }

        .TestingImage {
            padding: 0px;
            margin: 0px;
            height: 100%;
            width: 100%;
        }
    }


    .Testing1Inner2 {
        display: flex;
        flex-direction: column;
        width: 100%;     
        justify-content: center;     
        height: 100%;
        
        

        .Testing1Inner2-1 {
            height: 60%;
            width: 100%;
            display: flex;
            align-items: center;

            p {
                padding: 0px;
                padding-left: 9px;
                margin: 0px;
                font-size: 18px;
                
            }
        }

        .Testing1Inner2-2 {
            display: flex;
            flex-direction: row;
            height: 40%;
            align-items: center;

            .Testing1Inner2-2-1 {
                width: 50%;
                .TestingActionCat {
                    margin: 0px;
                    color: #b7b2a1;
                    padding-left: 8px;
                }             
            }

            .Testing1Inner2-2-2 {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 50%;
                span {
                    color: #959595;
                }
                .TestingActionRange {
                    padding-left: 6px;
                }

                .TestingActionRadius {
                    padding-right: 4px;
                }
            }

        }
    }
}

.Testing2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: end;
    height: 40px;
    margin-bottom: 5px;
    margin-right: 2px;
    .TestCastOverlay, .TestCastOverlayL, .TestCastOverlayR {
        
        height: 6px;
        background-color: #656565;
        position: relative;
        border-radius: 35px;
        top: -5px;
        
        padding: 0px;
        margin: 0px;
    }

    .TestCastOverlayL {
        width: 96.5%;
        left: 3px;
    }

    .TestCastOverlay {
        width: 99.4%;
        left: -1px;
    }

    .TestCastOverlayR {
        width: 100%;
        left: -1.5px;
    }
    
    .TestingText {
        margin: 1px 0px;
        
        color: #b7b2a1;
    }

    .TestingText.Middle {
        margin-right: 0.5px;
    }
    
    .TestingText.Last {

    }

    .TestingText2 {
        transform: scaleY(1.5);
        margin: 1px 0px;
        position: relative;
        z-index: 1;
        padding-right: 2px;
        padding-top: 1px;
    }



    .Testing2Inner1 {
        width: 33.6%;
        
        
        .TestingTextDiv {
            z-index: 2;
        }

        
    }

    .Testing2Inner2 {
        width: 32.3%;
        padding-right: 1px;
    }

    .Testing2Inner3 {
        width: 30.5%;
        margin-right: -1px;
    }
}

.Testing3 {
    margin-bottom: 5px;
    line-height: 1;
    padding-left: 3px;
    
}

.Testing4 {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    .Testing4Inner1 {
        width: 25%;
        color: #b7b2a1;
    }

    .Testing4Inner2 {
        width: 75%;
        padding-top: 5px;
        font-size: 14px;
    }
}


.SeparatorDiv {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 0px 0px;
    margin-bottom: 4px;
    
    .LeftSep {
        height: 3px;
        background-color: white;
        width: 1px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background: linear-gradient(#242424, #444344, #6A6A6A);
    }

    .RightSep {
        height: 3px;
        background-color: white;
        width: 1px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background: linear-gradient(#242424, #444344, #6A6A6A);
    }

    .MiddleSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 98%;

        .TestingUpperSeparator {
            height: 1px;
            background-color: #242424;
            width: 100%;  
        }
        
        
        .TestingSeparator {
            height: 1px;
            background-color: #444344;
            width: 100%;
            margin: 0px;
            padding: 0px;
        }
    
        .TestingLowerSeparator {
            background-color: #6A6A6A;
            height: 1px;
            width: 100%;
        }
    }
}

// the overall div that encompasses the entire action information
.LostActionDetailedInfoBox {
    display: flex;
    flex-direction: column;
    background-color: #464646;
    border-radius: 8px;
    width: 385px;
    margin: 0px;
    padding: 0px;
    color: white;
    box-shadow: 0px 0px 4px black;
    border: 1px solid black;


    // the inner div for the action, needed so that our information inside our box can be moved around
    .LostActionInnerDetailedInfoBox {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 5px;
        border-radius: 8px;
        margin-top: 10px;


        // section one is the top of our div, where we have the image, action name, action type, range and radius displaying
        .LostActionSectionOne {
            display: flex;
            flex-direction: row;
            align-items: start;
            height: 50px;
            margin: 0px;
            margin-bottom: 6px;
            padding: 0px;

            .LostActionImage {               
                width: 50px;
                padding: 0px;
                margin: 0px;
        
                img {
                    height: 50px;
                    border-radius: 12%;
                    box-shadow: 0px 1px 1px 1px #232323, 0px 0px 0px 1px #A0A0A0;
                }
            }

            .LostActionNameTypeRangeRadius {              
                display: flex;
                flex-direction: column;
                width: 100%;     
                justify-content: center;     
                height: 100%;
                
                .LostActionName {                  
                    height: 60%;
                    width: 100%;
                    display: flex;
                    align-items: center;
        
                    .ActionName {
                        padding: 0px;
                        padding-left: 9px;
                        margin: 0px;
                        font-size: 18px;
                        
                    }
                    
                }

                .LostActionTypeRangeRadius {                   
                    display: flex;
                    flex-direction: row;
                    height: 40%;
                    align-items: center;
        
                    .LostActionType {
                        width: 50%;

                        p {
                            margin: 0px;
                            color: #b7b2a1;
                            padding-left: 8px;
                        }             
                    }
        
                    .LostActionRangeRadius {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 50%;
                        
                        span {
                            color: #959595;
                        }

                        .LostActionRange {
                            padding-left: 6px;
                        }
        
                        .LostActionRadius {
                            padding-right: 4px;
                        }
                    }
        
                    
                }

            }
        }
       
        // section two is the cast/recast/available part of our div
        .LostActionSectionTwo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: end;
            height: 40px;
            margin-bottom: 5px;
            margin-right: 2px;

            
            // alignment of the 3 divs
            .LostActionCastInfo {
                width: 33.6%;                    
            }
        
            .LostActionRecastInfo {
                width: 32.3%;
                padding-right: 1px;
            }
        
            .LostActionAvailableInfo {
                width: 30.5%;
                margin-right: -1px;
            }
            
            // fancy graphic overlay
            .LostActionFancyGraphicRecast, .LostActionFancyGraphicCast, .LostActionFancyGraphicAvailable {               
                height: 6px;
                background-color: #656565;
                position: relative;
                border-radius: 35px;
                top: -5px;          
                padding: 0px;
                margin: 0px;
            }
            
            // aligning francy graphics
            .LostActionFancyGraphicCast {
                width: 96.5%;
                left: 3px;
            }
        
            .LostActionFancyGraphicRecast {
                width: 99.4%;
                left: -1px;
            }
        
            .LostActionFancyGraphicAvailable {
                width: 100%;
                left: -1.5px;
            }
            
            // aligning text/title name
            .LostActionCastRecastAvailableText {
                margin: 1px 0px;           
                color: #b7b2a1;
            }
        
            .LostActionCastRecastAvailableText.RecastText {
                margin-right: 0.5px;
            }
            
            // data div
            .LostActionParameterData {
                transform: scaleY(1.5);
                margin: 1px 0px;
                position: relative;
                z-index: 1;
                padding-right: 2px;
                padding-top: 1px;
            }          
        }

        .LostActionSeparatorSegment {
            display: flex;
            justify-content: center;
            flex-direction: row;
            align-items: center;
            margin: 0px 0px;
            margin-bottom: 4px;
            
            .LostActionSeparatorSegmentLeftEnd, .LostActionSeparatorSegmentRightEnd {
                height: 3px;
                background-color: white;
                width: 1px;
                background: linear-gradient(#242424, #444344, #6A6A6A);
            }

            .LostActionSeparatorSegmentLeftEnd {              
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;               
            }
        
            .LostActionSeparatorSegmentRightEnd {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        
            .LostActionSeparatorSegmentCenter {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 98%;
                
                .LostActionSeparatorSegmentCenterUpper, .LostActionSeparatorSegmentCenterMiddle, .LostActionSeparatorSegmentCenterLower {
                    height: 1px;
                    width: 100%; 
                }

                .LostActionSeparatorSegmentCenterUpper {                   
                    background-color: #242424;                  
                }
                
                
                .LostActionSeparatorSegmentCenterMiddle {
                    background-color: #444344;
                }
            
                .LostActionSeparatorSegmentCenterLower {
                    background-color: #6A6A6A;
                }
            }
        }

        .LostActionSectionThree {
            margin-bottom: 5px;
            line-height: 1;
            padding-left: 3px;           
        }

        .LostActionSectionFour {
            display: flex;
            flex-direction: row;
            padding-left: 2px;
            .LostActionAffinity {
                width: 25%;
                color: #b7b2a1;
            }
        
            .LostActionJobs {
                width: 75%;
                padding-top: 5px;
                font-size: 14px;
            }
        }
    }
}


