.LostActionInstanceTimelineInnerContainer {
    margin: 5px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 100%;

    ::-webkit-scrollbar {
        display: flex;
        position: relative;
        width: 8px;
        height: 10px;
    }
    

    ::-webkit-scrollbar-track {
        background: transparent;
        
    }
    
 
    ::-webkit-scrollbar-thumb {
        background: #888;
        
    }
    .LostActionInstanceTimelineTitleAndAddEncounter {
        display: flex;
        flex-direction: row;
        

        .LostActionInstanceTimelineTitle {
            width: 50%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: yellow;
        }

        .LostActionInstanceTimelineAddEncounter {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            background-color: green;
            .LostActionInstanceTimelineAddEncounterDiv {
                
            }
        }

    }

    .LostActionInstanceTimelineStateContainer {
        display: flex;
        flex-direction: row;
        height: 240px;
        width: 100%;

        .LostActionInstanceTimelineStateBossBoxes {
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            min-height: 240px;
            width: 50%;

            .LostActionInstanceTimelineIndividualEncounterContainer {
            
                flex-shrink: 0;
                min-height: 100%;
                display: flex;
                flex-direction: column;
                background-color: peru;
    
                .LostActionInstanceTimelineIndividualEncounterBossNameAndFunctions {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 12.5%;
    
                    .LostActionInstanceTimelineIndividualEncounterBossName {
                        width: 70%;
    
                        .LostActionNameOfBossInputField {
                            width: 96%;
                            height: 84%;
                        }
                    }
    
                    .LostActionInstanceTimelineIndividualEncounterFuntions {
                        width: 33.3%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        
                    }
                }
    
                .LostActionInstanceTimelineIndividualEncounterPullBossWithSection {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 60px;
    
                    .LostActionInstanceTimelineIndividualEncounterPullWithText {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 35%;
                        margin-left: 5px;
                    }
    
                    .LostActionInstanceTimelineIndividualEncounterPullWithLostActionsContainer {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        width: 75%;
                        .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostAction, .LostActionInstanceTimelineIndividualEncounterPullWithRightLostAction, .LostActionInstanceTimelineIndividualEncounterPullWithEssence {
                            display: flex;                
                            align-items: center;
                            justify-content: center;
    
                            .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostActionImage, .LostActionInstanceTimelineIndividualEncounterPullWithRightLostActionImage, .LostActionInstanceTimelineIndividualEncounterPullWithLeftEssenceImage {
                                display: flex;
                                
                                align-items: center;
                                justify-content: center;
    
                                img {
                                    pointer-events: none;
                                    height: 40px;
                                }
                            }
                            
                        }
                        
                    }
                }
    
                .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullSection {
                    display: flex;
                    flex-direction: row;
                    
                    min-height: 70px;
    
                    .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullTextAndAddLostActionButton {
                        display: flex;
                        flex-direction: column;
                        min-width: 35%;
                        align-items: center;
                        justify-content: space-around;
                        .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullText {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                               
                        }
    
                        .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullAddLostActionButton {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
    
                    
    
                    .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullLostActionsContainer {
                       
                        display: flex;
                        flex-direction: row;
                        height: auto;
                        overflow-y: scroll;
    
                        .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullLostActionsArray {
                            
                            
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: start;
    
                            .LostActionInstanceTimelineIndividualEncounterInPullLostActionResource {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-around;
                                
                                margin-right: 10px;
    
                                .LostActionInstanceTimelineIndividualEncounterInPullLostActionResourceImageAndDropdown {
                                   
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
    
                                    .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostAction, .LostActionInstanceTimelineIndividualEncounterPullWithRightLostAction, .LostActionInstanceTimelineIndividualEncounterPullWithEssence {
                                        display: flex;                
                                        align-items: center;
                                        justify-content: center;
                
                                        .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostActionImage, .LostActionInstanceTimelineIndividualEncounterPullWithRightLostActionImage, .LostActionInstanceTimelineIndividualEncounterPullWithLeftEssenceImage {
                                            display: flex;
                                            
                                            align-items: center;
                                            justify-content: center;
                
                                            img {
                                                pointer-events: none;
                                                height: 40px;
                                            }
                                        }
    
                                        .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostActionHoverVAndRemoveResourceButton {
                                            display: flex;
                                            flex-direction: column;
                                            height: 100%;
                                            justify-content: space-between;
                                            align-items: stretch;
    
                                            .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostActionRemoveResourceButton {
                                                height: 50%;
                                                margin-bottom: 12px;
                                                text-align: center;
                                                
                                                .RemoveResourceButton {
                                                    pointer-events: none;
                                                }
                                            }                                          
                                        }                                  
                                    }
                                }
    
                                .LostActionInstanceTimelineIndividualEncounterInPullLostActionResourceTimeOfUse {
                                    height: 25%;
                                    display: flex;
                                    justify-content: start;
                                    align-items: left;
                                    width: 100%;
                                    .LostActionInstanceTimelineIndividualEncounterInPullLostActionResourceTimeOfUseText {
                                        width: 30px;
                                        font-size: 12px;
                                        padding-left: 3px;
                                       
                                        text-align: center;
                                    }
                                }
                            }
                        }
    
                        
                    }
                }
    
    
    
    
    
    
    
                .LostActionPullBossWithAndNameOfBoss {
                    display: flex;
                    flex-direction: column;
                    width: 40%;
                    height: 100%;
                    .LostActionNameOfBoss {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 10px;
                        height: 20%;
                        .LostActionNameOfBossInputField {        
                            width: 100%;
                            background-color: transparent;
                            border: transparent;
    
                            &:focus {
                                outline: none;
                            }
                            
                    
                        }
                    }
    
                    .LostActionPullBossWith {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        height: 80%;
    
                        .LostActionPullBossWithLeftAction {
                            width: 33.3%;
                            display: flex;
                            
                            align-items: center;
                            justify-content: center;
    
                            .LostActionPullBossWithLeftActionImage {
                                display: flex;
                                
                                align-items: center;
                                justify-content: center;
    
                                img {
                                    height: 40px;
                                }
                            }
                           
                        }
                       
                    }
                }
            }
        }
      
        .LostActionInstanceTimelineStateLostActionDropdownBoxes {
            display: flex;
            justify-content: center;
            width: 50%;
           
            .LostActionInstanceTimelineStateLostActionDropdownBoxesInnerContainer {
                display: flex;
                align-items: center;
                justify-content: center;

                .LostActionInstanceTimelineIndividualEncounterPullWithLostActionDropdownContent {
                    
                    height: 210px;
                    width: 300px;
                    border-radius: 10px;
                    position: relative;                         
                    top: -10px;
                    z-index: 1;
                    background: url('../../../ui/pictures/BozjaFragmentWindowCropped300x260pixels.png');
                 

                    .LostActionInstanceTimelineIndividualEncounterPullWithLostActionDropdownContentInnerContainer {
                        
                        margin: 10px;
                        overflow-y: scroll;
                        height: 93%;
                        width: 100%;
                        margin-right: 6px; 
                        
                       
                        .DropdownItemLostActionRow {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            height: 40px;
                            width: 270px;

                            .DropdownItemLostActionImage {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                pointer-events: none;
                                margin-right: 5px;
                                margin-left: 5px;
                                img {
                                    height: 30px;
                                }
                            }
                        
                            .DropdownItemLostActionName {
                                pointer-events: none;
                                color: #F4F2F2; 
                                text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;
                            }
                        }
                    }
                }
               
            }
        }

        
    }
}