.LostCacheLostActionButtons {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    left: 56px;
    width: 92%;

    .LostActionOffensive, .LostActionDefensive, .LostActionRestorative, .LostActionBeneficial, .LostActionTactical, .LostActionDetrimental, .LostActionItemRelated {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        float: left;
        margin: 0px;
        padding: 0px;
        width: 100%;
        margin-bottom: 9px;

        .LostCacheLostActionButton {
            margin: 0px;
            padding: 0px 1px;
            margin-bottom: 6px;
            height: 49px;
           
            .LostActionButtonImage {
                height: 47px;
                width: 46px;
                display: block;
            }

            .LostActionButtonWeight {
                pointer-events: none;
                position: relative;
                text-align: right;
                width: 20px;
                top: -17px;
                left: 23px;
                font-size: 21px;
                text-align: right;
                color: #FFFFFF;
                text-shadow: -1px 0px 1px #C07A3C, 1px 0px 1px #C07A3C, 0px 1px 1px #C07A3C, 0px -1px 1px #C07A3C;
            }

            .LostActionInformationHover {
                display: flex;
                position: absolute;
                margin-left: -50px;
                padding-left: 0px;
                z-index: 1;
            }

            .hidden {
                visibility: hidden;
            }
        }
    }

    .LostActionItemRelated {
        margin-top: 3px;

         .LostCacheLostActionButton {         
             margin-bottom: 0px;
             margin-left: 3px;
             margin-right: 3px;

             .LostActionButtonImage {
                 height: 41px;
                 width: 40px;
             }

             .LostActionButtonWeight {
                pointer-events: none;
                position: relative;
                text-align: right;
                width: 20px;
                top: -16px;
                left: 18px;
                font-size: 21px;
                text-align: right;
                color: #FFFFFF;
                text-shadow: -1px 0px 1px #C07A3C, 1px 0px 1px #C07A3C, 0px 1px 1px #C07A3C, 0px -1px 1px #C07A3C;


            }
         }       
     }
}



