#LostFindsHolsterContainer {
    position: absolute;
    background: url('../../../ui/pictures/BozjaLostFindsHolster.png') no-repeat;
    background-size: 400px;
    width: 400px;
    height: 510px;
    z-index: 0;
    left: 800px;
}