@font-face {
    font-family: ekmukta;
    src: url("../../../backend/fonts/ekmukta-light.ttf") format(truetype);
}

#PrepopHolsterContainer {
    background: url('../../../ui/pictures/BozjaFragmentWindowCropped475x115pixels.png') no-repeat;
    font-family: ekmukta;
    background-size: 475px;
    width: 475px;
    height: 115px;
    margin-right: 3px;
    z-index: 1;
    border-radius: 11px;
}