.PrepopHolsterInnerContainer {
    display: flex;
    flex-direction: column;
    
    width: auto;
    margin: 5px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
    
    .PrepopHolsterText {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #F4F2F2; 
        text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;
    }

    .PrepopHolsterLostActionsAndEssence {
        display: flex;
        flex-direction: row;
        width: 100%;
        
        .PrepopHolsterLostActionLeftSide, .PrepopHolsterLostActionRightSide, .PrepopHolsterLostActionEssence {
           
            width: 33.3%;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;

            .PrepopHolsterLostActionLeftSideImage, .PrepopHolsterLostActionRightSideImage, .PrepopHolsterLostActionEssenceImage {
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;

                img {
                    height: 64px;
                }
            }

            .PrepopHolsterLostActionLeftSideSelectorList {
                position: relative;
                background-color: white;
                height: 12px;
                width: 12px;
                margin-top: auto;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover .PrepopHolsterLostActionLeftSideDropdownContent {
                    display: block;
                }
                ::-webkit-scrollbar {
                    display: flex;
                    position: relative;
                    width: 8px;
                    height: 30px;
                }
                
            
                ::-webkit-scrollbar-track {
                    background: transparent;
                    
                }
                
             
                ::-webkit-scrollbar-thumb {
                    background: #888;
                    
                }
               
            }

            .PrepopHolsterLostActionRightSideSelectorList {
                position: relative;
                background-color: white;
                height: 12px;
                width: 12px;
                margin-top: auto;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover .PrepopHolsterLostActionRightSideDropdownContent {
                    display: block;
                }
                ::-webkit-scrollbar {
                    display: flex;
                    position: relative;
                    width: 8px;
                    height: 30px;
                }
                
            
                ::-webkit-scrollbar-track {
                    background: white;
                    
                }
                
             
                ::-webkit-scrollbar-thumb {
                    background: #888;
                    
                }
                
                
            }

            .PrepopHolsterLostActionEssenceSelectorList {
                position: relative;
                background-color: white;
                height: 12px;
                width: 12px;
                margin-top: auto;
                display: flex;
                align-items: center;
                justify-content: center;
             

                &:hover .PrepopHolsterLostActionEssenceDropdownContent {
                    display: block;

                    
                }

                ::-webkit-scrollbar {
                   
                    width: 8px;
                   
                }
                
            
                ::-webkit-scrollbar-track {
                    background: white;
                    
                }

                ::-webkit-scrollbar-thumb {
                    background: #888;
                    
                }
                
               
            }
            
        }
    }
}



.PrepopHolsterLostActionLeftSideDropdownContent, .PrepopHolsterLostActionRightSideDropdownContent, .PrepopHolsterLostActionEssenceDropdownContent {
    display: none;
    height: 260px;
    width: 300px;
    border-radius: 10px;
    position: absolute;
    //overflow-y: scroll;
    left: 0px;
    top: -250px;
    //background-color: #444344;
    z-index: 1;
    background: url('../../../ui/pictures/BozjaFragmentWindowCropped300x260pixels.png');
    
}

.PrepopHolsterLostActionDropdownContentInnerContainer { 
    margin: 10px;
    overflow-y: scroll;
    height: 93%;
    margin-right: 6px; 
    
}

.DropdownItemLostActionRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 270px;
   
    
    .DropdownItemLostActionImage {
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        margin-right: 5px;
        margin-left: 5px;
        img {
            height: 30px;
        }
    }

    .DropdownItemLostActionName {
        pointer-events: none;
        color: #F4F2F2; 
        text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;
    }

}