@font-face {
    font-family: ekmukta;
    src: url("../../../backend/fonts/ekmukta-light.ttf") format(truetype);
}

#PrepopHolsterContainer {
    position: absolute;
    background-color: red;
    font-family: ekmukta;
    background-size: 475px;
    width: 475px;
    height: 156px;
    z-index: 1;
    left: 800px;
    top: 525px;
    border-radius: 14px;
}