.SavedHolstersContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
    margin: 7px;

    .SavedHolstersTitleText {
        position: relative;
        height: 34px;
        top: -3px;
        padding-left: 12px;
        font-size: 24px;
        color: #F9CEA5;
        text-shadow: -1px 0px 1px #C07A3C, 1px 0px 1px #C07A3C, 0px 1px 1px #C07A3C, 0px -1px 1px #C07A3C;
    }

    .SavedHolstersUserButtons {
        position: relative;
        height: 50px;
        margin: 0px 10px;
    }

    .TemplateSavedSetsAreaContainer {
        position: relative;
        height: 407px;
        width: 100%;
        
        overflow-y: scroll;

        .ExampleSavedSet {
            display: flex;
            flex-direction: row;
            height: 70px;
            width: auto;
            background-color: red;
            margin: 2px 0px;
            border-radius: 10px;
            margin-left: 3px;
            margin-right: 3px;
            
            .SavedHolstersLoadAndDeleteHolster {
                width: 8%;
                display: flex;
                flex-direction: column;
                align-items: center;
                

                .SavedHolstersLoadHolster {
                    height: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        height: 25px;
                        border-radius: 100%;
                    }
                }

                .SavedHolstersDeleteHolster {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50%;
                    img {
                        height: 25px;
                        border-radius: 100%;
                    }
                }


            }

            .SavedHolstersTitleAndActions {
                display: flex;
                flex-direction: column;
                width: 84%;
                .SavedHolstersTitle {
                    height: 50%;
                    display: flex;
                    align-items: center;
                }

                .SavedHolstersListActionsInSet {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    float: left;
                    height: 50%;

                    .SavedHolstersActionInSet {
                        display: flex;
                        align-items: center;
                    }
                }
            }

            .SavedHolstersWeightAndTypeOfSet {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 8%;

                .SavedHolsterWeightOfSet {
                    height: 50%;
                    display: flex;
                    align-items: center;
                }

                .SavedHolstersTypeOfSet {
                    height: 50%;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}
