@font-face {
    font-family: ekmukta;
    src: url("../../../backend/fonts/ekmukta-light.ttf") format(truetype);
}

#SavedHolsters {
    position: absolute;
    background: url('../../../ui/pictures/BozjaPlayerSetsMenu.png') no-repeat;
    font-family: ekmukta;
    background-size: 475px;
    width: 475px;
    height: 506px;
    z-index: 0;
    left: 1280px;
    top: 12px;
    border-radius: 10px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}