.SavedSetsAreaContainer {
    position: relative;
    height: 407px;
    width: 100%;    
    overflow-y: scroll;
}

.MyHolstersSavedSet {
    display: flex;
    flex-direction: row;
    height: 120px;
    width: auto;
    border: 2px solid #A5906F;
    margin: 2px 0px;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 3px;
    
    
    ::-webkit-scrollbar {
        display: flex;
        position: relative;
        height: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
 
    .SavedHolstersLoadAndDeleteHolster {
        width: 8%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 2px solid #A5906F;

        .SavedHolstersLoadHolster {
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            filter: drop-shadow(0px 0px 2px white);
            img {
                height: 25px;
                border-radius: 100%;
            }
        }

        .SavedHolstersDeleteHolster {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50%;
            filter: drop-shadow(0px -1px 2px white);
            img {
                height: 23px;
                border-radius: 100%;
            }
        }


    }

    .SavedHolstersTitleAndActions {
        display: flex;
        flex-direction: column;
        width: 81%;
        margin-left: 5px;
        margin-right: 3px;
        .SavedHolstersTitle {
            height: 40px;
            display: flex;
            align-items: center;
            
            width: 90%;

            input {
                width: 100%;
                background-color: transparent;
                color: #F4F2F2; 
                height: 70%;
                text-shadow: -1px 0px 3px black, 1px 0px 3px black, 0px 1px 3px black, 0px -1px 3px black;
                font-size: 16px;

                &:focus {
                    outline: none;
                }
            }          
        }
        
        .SavedHolstersListActionsInSet {
            display: flex;
            flex-direction: row;        
            float: left;
            height: 40px;
            position: relative;          
            overflow-x: scroll;
            overflow-y: hidden;

            .SavedHolstersActionInSet {
                display: flex;
                align-items: center;
                position: relative;
                
                
                .SavedHolstersActionInSetSpecificQuantity {
                    pointer-events: none;
                    position: relative;
                    text-align: right;
                    width: 0px;
                    height: 0px;
                    top: -14px;
                    left: -22px;
                    font-size: 25px;
                    text-align: left;
                    color: #FFFFFF;
                    text-shadow: -1px 0px 1px #C07A3C, 1px 0px 1px #C07A3C, 0px 1px 1px #C07A3C, 0px -1px 1px #C07A3C;
                }
                
                img {
                    height: 35px;
                }
            }
        }

        .SavedHolstersListPrepopActionsInSet {
            display: flex;
            flex-direction: row;        
            float: left;
            height: 40px;
            width: 10%;
            position: relative;          
            overflow-x: scroll;
            overflow-y: hidden;

            .SavedHolstersPrepopActionInSet {
                display: flex;
                align-items: center;
                position: relative;

                img {
                    height: 35px;
                }
            }
        }
    }

    .SavedHolstersWeightAndTypeOfSet {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 8%;

        .SavedHolsterWeightOfSet {
            height: 50%;
            display: flex;
            align-items: center;
            color: #F4F2F2; 
            text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;
            font-size: 18px;

        }

        .SavedHolstersTypeOfSet {
            height: 50%;
            display: flex;
            align-items: center;
            img {
                height: 35px;
            }
        }
    }
}