.SavedSetsAreaContainer {
    position: relative;
    height: 407px;
    width: 100%;    
    overflow-y: scroll;
}

.MyHolstersSavedSet {
    display: flex;
    flex-direction: row;
    height: 79px;
    width: auto;
    border: 2px solid black;
    margin: 2px 0px;
    border-radius: 10px;
    margin-left: 3px;
    margin-right: 3px;
    

    ::-webkit-scrollbar {
        display: flex;
        position: relative;
        height: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    .SavedHolstersLoadAndDeleteHolster {
        width: 8%;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .SavedHolstersLoadHolster {
            height: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                height: 25px;
                border-radius: 100%;
            }
        }

        .SavedHolstersDeleteHolster {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50%;
            img {
                height: 25px;
                border-radius: 100%;
            }
        }


    }

    .SavedHolstersTitleAndActions {
        display: flex;
        flex-direction: column;
        width: 84%;

        .SavedHolstersTitle {
            height: 50%;
            display: flex;
            align-items: center;
            padding-left: 5px;
            width: 90%;

            input {
                width: 100%;
                background-color: transparent;
                border: transparent;

                &:focus {
                    outline: none;
                }
            }
            
        }

        .SavedHolstersListActionsInSet {
            display: flex;
            flex-direction: row;
            
            float: left;
            height: 50%;
            position: relative;
            top: -1px;
            padding-bottom: 1px;
            overflow-x: scroll;

            overflow-y: hidden;
            .SavedHolstersActionInSet {
                display: flex;
                align-items: center;
                position: relative;
                
                .SavedHolstersActionInSetSpecificQuantity {
                    pointer-events: none;
                    position: relative;
                    text-align: right;
                    width: 0px;
                    height: 0px;
                    top: -14px;
                    left: -22px;
                    font-size: 25px;
                    text-align: left;
                    color: #FFFFFF;
                    text-shadow: -1px 0px 1px #C07A3C, 1px 0px 1px #C07A3C, 0px 1px 1px #C07A3C, 0px -1px 1px #C07A3C;
                }
                
                img {
                    height: 35px;
                }
            }
        }
    }

    .SavedHolstersWeightAndTypeOfSet {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 8%;

        .SavedHolsterWeightOfSet {
            height: 50%;
            display: flex;
            align-items: center;
        }

        .SavedHolstersTypeOfSet {
            height: 50%;
            display: flex;
            align-items: center;
            img {
                height: 35px;
            }
        }
    }
}