.SavedHolstersContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
    margin: 7px;
    

    .SavedHolstersTitleTextAndDeleteSavedSets {
        position: relative;
        height: 34px;
        top: -3px;
        padding-left: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .SavedHolstersTitleText {
            width: 50%;
            font-size: 24px;
            color: #F9CEA5;
            text-shadow: -1px 0px 1px #C07A3C, 1px 0px 1px #C07A3C, 0px 1px 1px #C07A3C, 0px -1px 1px #C07A3C;
        }

        
        .ResetClearSetsDiv {
            width: 20%;
            height: 31px;
            text-align: center;
            border: 1px solid #E67A6F;
            border-radius: 5px;
            line-height: 12px;
            display: flex;
            align-items: center;
            color: #F4F2F2; 
            text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;
            font-size: 14px;

            &:hover{
                background-color: rgba(190, 25, 37, 0.69);
            }

            .ResetClearSetsDivConfirmationBox {
                display: flex;
                flex-direction: column;
                width: 100%;

                .RestClearSetsDivConfirmationBoxReply {
                    margin-top: 3px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;

                    .RestClearSetsDivConfirmationBoxReplyBoxYes, .RestClearSetsDivConfirmationBoxReplyBoxNo {
                        border: 1px solid #E67A6F;
                        border-radius: 8px;
                    }

                    .RestClearSetsDivConfirmationBoxReplyBoxYes {
                        padding: 0px 4px;

                        &:hover{
                            background-color: rgba(190, 25, 37, 1);
                        }
                    }

                    .RestClearSetsDivConfirmationBoxReplyBoxNo {
                        padding: 0px 7px;

                        &:hover{
                            background-color: #595644;
                        }
                    }
                }
            }
        }
    }

    .SavedHolstersUserButtons {
        position: relative;
        display: flex;
        flex-direction: row;
        height: 46px;
        margin: 0px 4px;
        margin-top: 4px;
        color: #F4F2F2; 
        text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;
        font-size: 14px;

        span {
            pointer-events: none;
        }
      

        .SortSetsDiv {
            width: 31%;
            display: flex;
            flex-direction: column;
            height: 40px;
            border: 1px solid #A5906F;
            border-radius: 5px;

            .SortSetsDivText {
                text-align: center;
                height: 21px;
                margin-top: -3px;
            }

            .SortSetsDivFunctions {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding: 0px 0px;
                width: 100%;
                
                .SortSetsByTitleDiv, .SortSetsByRoleDiv {
                    display: flex;
                    align-items: center;
                    
                    height: 70%;
                    padding: 0px 3px;
                    border-radius: 8px;
                    
                    
                    &:hover {
                        background-color: #595644;
                    }
                }

                .SortSetsByTitleDiv {
                    border: 1px solid #BEAB9D;
                    width: 50%;
                    display: flex;
                    justify-content: center;
                }

                .SortSetsByRoleDiv {
                    width: 35%;
                    margin: 0px 3px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

            }
        }

        .FilterSetsDiv {
            display: flex;
            flex-direction: column;
    
            height: 40px;
            border: 1px solid #A5906F;
            border-radius: 5px;
            width: 20%;
            margin: 0px 4px;
            .FilterSetsDivText {
                text-align: center;
                height: 20px;
                margin-top: -3px;
            }

            .FilterSetsDivRole {
                border: 1px solid #BEAB9D;
                margin: 0px 3px 0px 3px;
                height: 21px;                
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;

                &:hover {
                    background-color: #595644;
                }
            }
        }

        .ImportExportOptionsForSetsDiv {
            display: flex;
            flex-direction: row;
            width: 47%;
            justify-content: center;
            border: 1px solid #A5906F;
            height: 40px;
            border-radius: 5px;

            .ImportExportSetsDiv {
                width: 45%;
                display: flex;
                flex-direction: column;
                text-align: center;                    
               
                .ImportSetsDiv {                 
                    border: 1px solid #BEAB9D;
                    margin: 1px 3px -1px 3px;
                    height: 17px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;
    
                    &:hover {
                        background-color: #595644;
                    }
                }
    
                .ExportSetsDiv {           
                    border: 1px solid #BEAB9D;
                    margin: 2px 3px 0px 3px;
                    height: 17px;                
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;
    
                    &:hover {
                        background-color: #595644;
                    }
                }
    
            }
    
            .ExportSelectedClearSelectedSetsDiv {
                width: 58%;
                display: flex;
                flex-direction: column;
                text-align: center;            
    
                .ClearSelectedSetsDiv {
                    border: 1px solid #BEAB9D;
                    margin: 1px 3px -1px 3px;
                    height: 17px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;
    
                    &:hover {
                        background-color: #595644;
                    }
                }
    
                .ExportSelectedSetsDiv {           
                    border: 1px solid #BEAB9D;
                    margin: 2px 3px 0px 3px;
                    height: 17px;                
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 8px;
    
                    &:hover {
                        background-color: #595644;
                    }
                }
            }
        }
    }
}