$dropdownBoxForLostActionsLink: url('../../../../ui/pictures/BozjaFragmentWindowCropped300x220pixels.png') no-repeat;

.LostActionInstanceTimelineInnerContainer {
    margin: 5px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 100%;
    color: #F4F2F2; 
    text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;


    ::-webkit-scrollbar {
        display: flex;
        position: relative;
        width: 8px;
        height: 10px;
    }
    

    ::-webkit-scrollbar-track {
        background: transparent;
        
    }
    
 
    ::-webkit-scrollbar-thumb {
        background: #888;
        
    }
    .LostActionInstanceTimelineTitleAndAddEncounter {
        display: flex;
        flex-direction: row;
        border-top: 2px solid #A5906F;
        
        .LostActionInstanceTimelineTitle {
            width: 50%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        .LostActionInstanceTimelineAddEncounter {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            margin: 5px;
            .LostActionInstanceTimelineAddEncounterDiv {
                height: 100%;
                width: 50%;
                display: flex;
                border: 2px solid #A5906F;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: #595644;
                }
            }
        }

    }

    .LostActionInstanceTimelineStateContainer {
        display: flex;
        flex-direction: row;
        height: 240px;
        width: 100%;
        margin-top: 5px;
        .LostActionInstanceTimelineStateBossBoxes {
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            min-height: 240px;
            width: 50%;

            .LostActionInstanceTimelineIndividualEncounterContainer {
                border: 2px solid #A5906F;
                border-radius: 3px;
                flex-shrink: 0;
                min-height: 97%;
                display: flex;
                flex-direction: column;
                margin-top: 3px;
                margin-right: 2px;
    
                .LostActionInstanceTimelineIndividualEncounterBossNameAndFunctions {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 12.5%;
    
                    .LostActionInstanceTimelineIndividualEncounterBossName {
                        width: 70%;
    
                        .LostActionNameOfBossInputField {
                            width: 96%;
                            height: 84%;
                        }
                    }
    
                    .LostActionInstanceTimelineIndividualEncounterFuntions {
                        width: 33.3%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center; 

                        .LostActionInstanceTimelineIndividualEncounterFunctionMoveLeft, .LostActionInstanceTimelineIndividualEncounterFunctionMoveRight, .LostActionInstanceTimelineIndividualEncounterFunctionDeleteEncounter {

                            span {
                                pointer-events: none;
                            }
                        }
                    }

                }
    
                .LostActionInstanceTimelineIndividualEncounterPullBossWithSection {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 45px;
    
                    .LostActionInstanceTimelineIndividualEncounterPullWithText {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 34%;
                        margin-left: 5px;
                    }
    
                    .LostActionInstanceTimelineIndividualEncounterPullWithLostActionsContainer {
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        width: 65%;
                        .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostAction, .LostActionInstanceTimelineIndividualEncounterPullWithRightLostAction, .LostActionInstanceTimelineIndividualEncounterPullWithEssence {
                            display: flex;                
                            align-items: center;
                            justify-content: center;
                            margin-right: 30px;
    
                            .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostActionImage, .LostActionInstanceTimelineIndividualEncounterPullWithRightLostActionImage, .LostActionInstanceTimelineIndividualEncounterPullWithLeftEssenceImage {
                                display: flex;
                                
                                align-items: center;
                                justify-content: center;
    
                                img {
                                    pointer-events: none;
                                    height: 40px;
                                }
                            }
                            
                        }
                        
                    }
                }
    
                .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullSection {
                    display: flex;
                    flex-direction: row;
                    
                    min-height: 76px;
    
                    .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullTextAndAddLostActionButton {
                        display: flex;
                        flex-direction: column;
                        min-width: 34.6%;
                        align-items: center;
                        justify-content: center;

                        .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullText {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                               
                        }
    
                        .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullAddLostActionButton {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 2px solid #A5906F;
                            border-radius: 5px;
                            padding-top: 2px;
                            margin-top: 3px;
                            width: 65%;
                            height: 40%;

                            &:hover {
                                background-color: #595644;
                            }
                        }
                    }
    
                    
    
                    .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullLostActionsContainer {
                       
                        display: flex;
                        flex-direction: row;
                        height: auto;
                        overflow-y: scroll;
    
                        .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullLostActionsArray {
                            
                            
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: start;
    
                            .LostActionInstanceTimelineIndividualEncounterInPullLostActionResource {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-around;
                                
                                margin-right: 10px;
    
                                .LostActionInstanceTimelineIndividualEncounterInPullLostActionResourceImageAndDropdown {
                                   
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
    
                                    .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostAction, .LostActionInstanceTimelineIndividualEncounterPullWithRightLostAction, .LostActionInstanceTimelineIndividualEncounterPullWithEssence {
                                        display: flex;                
                                        align-items: center;
                                        justify-content: center;
                
                                        .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostActionImage, .LostActionInstanceTimelineIndividualEncounterPullWithRightLostActionImage, .LostActionInstanceTimelineIndividualEncounterPullWithLeftEssenceImage {
                                            display: flex;
                                            
                                            align-items: center;
                                            justify-content: center;
                
                                            img {
                                                pointer-events: none;
                                                height: 40px;
                                            }
                                        }
    
                                        .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostActionHoverVAndRemoveResourceButton {
                                            display: flex;
                                            flex-direction: column;
                                            height: 100%;
                                            justify-content: space-between;
                                            align-items: stretch;
    
                                            .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostActionRemoveResourceButton {
                                                height: 50%;
                                                margin-bottom: 12px;
                                                text-align: center;
                                                
                                                .RemoveResourceButton {
                                                    pointer-events: none;
                                                }
                                            }                                          
                                        }                                  
                                    }
                                }
    
                                .LostActionInstanceTimelineIndividualEncounterInPullLostActionResourceTimeOfUse {
                                    height: 25%;
                                    display: flex;
                                    justify-content: start;
                                    align-items: left;
                                    width: 100%;
                                    .LostActionInstanceTimelineIndividualEncounterInPullLostActionResourceTimeOfUseText {
                                        width: 30px;
                                        font-size: 12px;
                                        padding-left: 3px;
                                       
                                        text-align: center;
                                    }
                                }
                            }
                        }
    
                        
                    }
                }

                .LostActionPullBossWithAndNameOfBoss {
                    display: flex;
                    flex-direction: column;
                    width: 40%;
                    height: 100%;
                    .LostActionNameOfBoss {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 10px;
                        height: 20%;
                        .LostActionNameOfBossInputField {        
                            width: 100%;
                            background-color: transparent;
                            border: transparent;
    
                            &:focus {
                                outline: none;
                            }
                            
                    
                        }
                    }
    
                    .LostActionPullBossWith {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        height: 80%;
    
                        .LostActionPullBossWithLeftAction {
                            width: 33.3%;
                            display: flex;
                            
                            align-items: center;
                            justify-content: center;
    
                            .LostActionPullBossWithLeftActionImage {
                                display: flex;
                                
                                align-items: center;
                                justify-content: center;
    
                                img {
                                    height: 40px;
                                }
                            }
                           
                        }
                       
                    }
                }
            }
        }
      
        .LostActionInstanceTimelineStateLostActionDropdownBoxes {
            display: flex;
            justify-content: center;
            width: 50%;
           
            .LostActionInstanceTimelineStateLostActionDropdownBoxesInnerContainer {
                display: flex;
               
                justify-content: end;
                width: 100%;

                .LostActionInstanceTimelineStateLostActionFunctions {
                    display: flex;
                    flex-direction: column;               
                    width: 32%;
                    margin: 5px;
                    align-items: center;

                    .LostActionInstanceTimelineStateLostActionFunctionCloseWindow {
                        position: relative;
                        top: -95px;
                        left: -70px;
                        font-size: 20px;
                        

                        span {
                            pointer-events: none;
                        }
                    }

                    .LostActionInstanceTimelineStateLostActionFunctionSetAllEssence {                   
                        position: relative;
                        text-align: center;
                        border: 2px solid #A5906F;
                        border-radius: 5px;
                        height: 50px;
                        display: flex;
                        align-items: center;                     
                        top: 50px;
                        
                        &:hover {
                            background-color: #595644;
                        }
                    }

                    .LostActionInstanceTimelineStateLostActionFunctionSetAllActions {
                        position: relative;
                        text-align: center;
                        border: 2px solid #A5906F;
                        border-radius: 5px;
                        height: 60px;
                        display: flex;
                        align-items: center;   
                                     
                        top: 60px;
                        
                        &:hover {
                            background-color: #595644;
                        }
                    }
                }

                .LostActionInstanceTimelineIndividualEncounterPullWithLostActionDropdownContent {                
                    height: 220px;
                    width: 300px;
                    border-radius: 10px;
                    top: 20px;
                    position: relative;                                         
                    background: $dropdownBoxForLostActionsLink;           

                    .LostActionInstanceTimelineIndividualEncounterPullWithLostActionDropdownContentInnerContainer {                   
                        margin: 10px;
                        overflow-y: scroll;
                        height: 92%;
                        width: 95%;
                     
                        .DropdownItemLostActionRow {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            height: 40px;
                            width: 270px;

                            .DropdownItemLostActionImage {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                pointer-events: none;
                                margin-right: 5px;
                                margin-left: 5px;
                                img {
                                    height: 30px;
                                }
                            }
                        
                            .DropdownItemLostActionName {
                                pointer-events: none;
                                color: #F4F2F2; 
                                text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;
                            }
                        }
                    }
                }
               
            }
        }

        
    }
}

.LostActionSeparatorSegment {
    margin: 1px 0px 1px 2px;
    width: 100%;
    
}