.LostActionInstanceTimelineResourceManagementContentInnerContainer {
    margin: 5px;
    height: 92%;
    display: flex;
    flex-direction: column;

    .LostActionInstanceTimelineResourceManagementTitles {
        display: flex;
        flex-direction: row;
        height: 25%;
        margin-top: 5px;
        color: #F4F2F2; 
        text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;
        .LostActionInstanceTimelineResourceManagementGreaterThanZero {
            width: 63%;           
            text-align: left;
            padding-left: 73px;
            margin-left: 0px;
        }

        .LostActionInstanceTimelineResourceManagementLessThanZero {
            width: 22%;
            text-align: center;
        }
    }

    .LostActionInstanceTimelineResourceManagementLostActions {
        display: flex;
        flex-direction: row;
        height: 75%;
        align-items: center;
        justify-content: center;

        .LostActionInstanceTimelineResourceManagementQuantityText {
            width: 15%;
            height: 100%;
            display: flex;
            align-items: end;
            padding-bottom: 25px;
            color: #F4F2F2; 
            text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;
        }

        ::-webkit-scrollbar {
            display: flex;
            position: relative;
            width: 8px;
            height: 10px;
        }
        
    
        ::-webkit-scrollbar-track {
            background: transparent;
            
        }
        
     
        ::-webkit-scrollbar-thumb {
            background: #888;
            
        }

       

        .LostActionInstanceTimelineResourceManagementLostActionDivsGreaterThanZero {
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            overflow-y: hidden;
            width: 59%;
            margin-right: 7px;
        }

        .LostActionInstanceTimelineResourceManagementLostActionDivsLessThanZero {
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            overflow-y: hidden;
            width: 20%;   
            margin-left: 8px;     
        }

        .LostActionResourceToSpend {
            margin: 3px 3px;
            
            .LostActionResourceToSpendImage {
                img {
                    height: 40px;
                    box-shadow: 0px 0px 3px white;
                }
            }   

            .LostActionResourceToSpendQuantity {
                text-align: center;
                color: #F4F2F2; 
                text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;
            }
        }

        .LostActionInstanceTimelineResourceManagementQuantityGap {
            height: 80px;
            margin-bottom: 40px;
            
                        
            .LostActionSeparatorSegment {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                height: 100px;
                
                .LostActionSeparatorSegmentLeftEnd, .LostActionSeparatorSegmentRightEnd {
                    height: 1px;
                    background-color: white;
                    width: 3px;
                    background: linear-gradient(90deg, #242424, #444344, #6A6A6A);
                    border-radius: 0px;  
                }

                .LostActionSeparatorSegmentLeftEnd {              
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;       
                }

                .LostActionSeparatorSegmentRightEnd {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }

                .LostActionSeparatorSegmentCenter {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    height: 98%;
                    
                    .LostActionSeparatorSegmentCenterUpper, .LostActionSeparatorSegmentCenterMiddle, .LostActionSeparatorSegmentCenterLower {
                        width: 1px;
                        height: 100%; 
                    }

                    .LostActionSeparatorSegmentCenterUpper {                   
                        background-color: #242424;                  
                    }
                    
                    
                    .LostActionSeparatorSegmentCenterMiddle {
                        background-color: #444344;
                    }
                
                    .LostActionSeparatorSegmentCenterLower {
                        background-color: #6A6A6A;
                    }
                }
            }
        }
    }

    .LostActionInstanceTimelineResourceManagementHelpBoxContainer {
        display: flex;


        .LostActionInstanceTimelineResourceManagementHelpButton{
            height: 25px;
            width: 25px;
            border: 2px solid #A5906F;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 23px;
            position: relative;
            top: -90px;
            left: 7px;
            color: #F4F2F2; 
            &:hover {
                background-color: #595644;
            }
        }

        .LostActionInstanceTimelineResourceManagementHelpBox {
            position: relative;
            top: -103px;
            left: 10px;
            width: 425px;
            height: 105px;
            border: 2px solid #A5906F;
            background: rgba(89, 86, 68, 0.9);
            color: #F4F2F2; 
            text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;
            border-radius: 15px;

            .LostActionInstanceTimelineResourceManagementHelpBoxTitleAndClose {
                display: flex;
                flex-direction: row;
                width: 100%;
                text-align: center;
                align-items: center;
                height: 25px;
        
                .LostActionInstanceTimelineResourceManagementHelpBoxTitle{
                    font-size: 20px;
                    text-decoration: underline;
                }
            }
            .LostActionInstanceTimelineResourceManagementHelpBoxResources {
                display: flex;
                flex-direction: column;
                width: 95%;
                margin: 8px;
                line-height: 1.2;

            }
        }

        .hidden {
            display: none;
        }
    }
}
