$dropdownBoxForLostActionsLink: url('../../../../ui/pictures/BozjaFragmentWindowCropped300x220pixels.png') no-repeat;

.LostActionInstanceTimelineInnerContainer {
    margin: 5px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 100%;
    color: #F4F2F2; 
    text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;


    ::-webkit-scrollbar {
        display: flex;
        position: relative;
        width: 8px;
        height: 10px;
    }
    

    ::-webkit-scrollbar-track {
        background: transparent;
        
    }
    
 
    ::-webkit-scrollbar-thumb {
        background: #888;
        
    }
    .LostActionInstanceTimelineTitleAndAddEncounter {
        display: flex;
        flex-direction: row;
        border-top: 2px solid #A5906F;
        

        .LostActionInstanceTimelineHelpBox {
            position: relative;
            top: -30px;
            left: 50px;
        }

        .hidden {
            display: none;
        }

        .LostActionInstanceTimelineHelpButtonContainer {
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .LostActionInstanceTimelineHelpButton{
                width: 32%;
                height: 60%;
                border: 2px solid #A5906F;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 23px;
                &:hover {
                    background-color: #595644;
                }
            }

            .LostActionInstanceTimelineHelpBox {
                position: absolute;
                top: -242px;
                left: 0px;
                width: 465px;
                height: 235px;
                // background
                border: 2px solid #A5906F;
                //background-color: #595644;
                background: rgba(89, 86, 68, 0.9);
                border-radius: 15px;
            }
        }
        
        .LostActionInstanceTimelineTitle {
            width: 31%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 11%;
            font-size: 18px;
        }

        .LostActionInstanceTimelineSetAllNotificationBox {
            width: 14%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: -54px;
            text-wrap: wrap;
            text-align: center;
            padding: 0px 10px;
        }

        .LostActionInstanceTimelineAddEncounter {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30%;
            margin: 5px;
            
            .LostActionInstanceTimelineAddEncounterDiv {
                height: 100%;
                width: 70%;
                display: flex;
                border: 2px solid #A5906F;
                align-items: center;
                justify-content: center;
                border-radius: 5px;

                &:hover {
                    background-color: #595644;
                }
            }
        }

    }

    .LostActionInstanceTimelineStateContainer {
        display: flex;
        flex-direction: row;
        height: 240px;
        width: 100%;
        margin-top: 5px;
        .LostActionInstanceTimelineStateBossBoxes {
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            min-height: 240px;
            width: 50%;

            .LostActionInstanceTimelineIndividualEncounterContainer {
                border: 2px solid #A5906F;
                border-radius: 3px;
                flex-shrink: 0;
                min-height: 97%;
                display: flex;
                flex-direction: column;
                margin-top: 3px;
                margin-right: 2px;
    
                .LostActionInstanceTimelineIndividualEncounterBossNameAndFunctions {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 12.5%;
    
                    .LostActionInstanceTimelineIndividualEncounterBossName {
                        width: 70%;
    
                        .LostActionNameOfBossInputField {
                            width: 96%;
                            height: 84%;
                        }
                    }
    
                    .LostActionInstanceTimelineIndividualEncounterFuntions {
                        width: 33%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center; 

                        .LostActionInstanceTimelineIndividualEncounterFunctionMoveUp, .LostActionInstanceTimelineIndividualEncounterFunctionMoveDown, .LostActionInstanceTimelineIndividualEncounterFunctionDeleteEncounter {
                            span {
                                pointer-events: none;
                            }
                        }
                        .LostActionInstanceTimelineIndividualEncounterFunctionDeleteEncounter{
                            padding-top: 4px;
                        }
                    }

                }
    
                .LostActionInstanceTimelineIndividualEncounterPullBossWithSection {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    height: 45px;
    
                    .LostActionInstanceTimelineIndividualEncounterPullWithText {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 34%;
                        margin-left: 5px;
                    }
    
                    .LostActionInstanceTimelineIndividualEncounterPullWithLostActionsContainer {
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        width: 65%;
                        .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostAction, .LostActionInstanceTimelineIndividualEncounterPullWithRightLostAction, .LostActionInstanceTimelineIndividualEncounterPullWithEssence {
                            display: flex;                
                            align-items: center;
                            justify-content: center;
                            margin-right: 30px;
    
                            .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostActionImage, .LostActionInstanceTimelineIndividualEncounterPullWithRightLostActionImage, .LostActionInstanceTimelineIndividualEncounterPullWithLeftEssenceImage {
                                display: flex;
                                
                                align-items: center;
                                justify-content: center;
    
                                img {
                                    pointer-events: none;
                                    height: 40px;
                                }
                            }
                            
                        }
                        
                    }
                }
    
                .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullSection {
                    display: flex;
                    flex-direction: row;
                    
                    min-height: 76px;
    
                    .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullTextAndAddLostActionButton {
                        display: flex;
                        flex-direction: column;
                        min-width: 34.6%;
                        align-items: center;
                        justify-content: center;

                        .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullText {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                               
                        }
    
                        .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullAddLostActionButton {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: 2px solid #A5906F;
                            border-radius: 5px;
                            padding-top: 2px;
                            margin-top: 3px;
                            width: 65%;
                            height: 40%;

                            &:hover {
                                background-color: #595644;
                            }
                        }
                    }
    
                    
    
                    .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullLostActionsContainer {
                       
                        display: flex;
                        flex-direction: row;
                        height: auto;
                        overflow-y: scroll;
    
                        .LostActionInstanceTimelineIndividualEncounterResourcesSpentInPullLostActionsArray {
                            
                            
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: start;
    
                            .LostActionInstanceTimelineIndividualEncounterInPullLostActionResource {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-around;
                                
                                margin-right: 10px;
    
                                .LostActionInstanceTimelineIndividualEncounterInPullLostActionResourceImageAndDropdown {
                                   
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
    
                                    .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostAction, .LostActionInstanceTimelineIndividualEncounterPullWithRightLostAction, .LostActionInstanceTimelineIndividualEncounterPullWithEssence {
                                        display: flex;                
                                        align-items: center;
                                        justify-content: center;
                
                                        .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostActionImage, .LostActionInstanceTimelineIndividualEncounterPullWithRightLostActionImage, .LostActionInstanceTimelineIndividualEncounterPullWithLeftEssenceImage {
                                            display: flex;
                                            
                                            align-items: center;
                                            justify-content: center;
                
                                            img {
                                                pointer-events: none;
                                                height: 40px;
                                            }
                                        }
    
                                        .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostActionHoverVAndRemoveResourceButton {
                                            display: flex;
                                            flex-direction: column;
                                            height: 100%;
                                            justify-content: space-between;
                                            align-items: stretch;
    
                                            .LostActionInstanceTimelineIndividualEncounterPullWithLeftLostActionRemoveResourceButton {
                                                height: 50%;
                                                margin-bottom: 12px;
                                                text-align: center;
                                                
                                                .RemoveResourceButton {
                                                    pointer-events: none;
                                                }
                                            }                                          
                                        }                                  
                                    }
                                }
    
                                .LostActionInstanceTimelineIndividualEncounterInPullLostActionResourceTimeOfUse {
                                    height: 25%;
                                    display: flex;
                                    justify-content: start;
                                    align-items: left;
                                    width: 100%;

                                    .LostActionInstanceTimelineIndividualEncounterInPullLostActionResourceTimeOfUseText {
                                        width: 30px;
                                        font-size: 12px;
                                        padding-left: 3px;  
                                        text-align: center;
                                    }
                                }
                            }
                        }                     
                    }
                }
            }
        }
      
        .LostActionInstanceTimelineStateLostActionDropdownBoxes {
            display: flex;
            justify-content: center;
            width: 50%;         

            .LostActionDropdownCategoryHeader {
                width: 95%;
            
                .LostActionDropdownCategoryText {
                    padding: 10px 0px 10px 5px;
                    color: #FFFFFF;
                    text-shadow: -1px 0px 1px #C07A3C, 1px 0px 1px #C07A3C, 0px 1px 1px #C07A3C, 0px -1px 1px #C07A3C;
                    font-size: 21px;
                }
            }
            
           
            .LostActionInstanceTimelineStateLostActionDropdownBoxesInnerContainer {
                display: flex;
                justify-content: end;
                width: 100%;

                ::-webkit-scrollbar {
                    display: flex;
                    position: relative;
                    width: 13px;
                    height: 30px;
                }         
                ::-webkit-scrollbar-track {
                    background: white;
                    
                }                        
                ::-webkit-scrollbar-thumb {
                    background: #888;
                    
                }

                .LostActionInstanceTimelineStateLostActionFunctions {
                    display: flex;
                    flex-direction: column;               
                    width: 32%;
                    margin: 5px;
                    align-items: center;

                    .LostActionInstanceTimelineStateLostActionFunctionCloseWindow {
                        position: relative;
                        top: -100px;
                        left: -67px;
                        font-size: 20px;
                        &:hover {
                            background-color: #595644;
                        }
                        span {
                            pointer-events: none;
                        }
                    }

                    .LostActionInstanceTimelineStateLostActionFunctionSetAllEssence, .LostActionInstanceTimelineStateLostActionFunctionSetAllActions {
                        position: relative;
                        text-align: center;
                        border: 2px solid #A5906F;
                        border-radius: 5px;
                        display: flex;
                        align-items: center; 
                        &:hover {
                            background-color: #595644;
                        }
                    }

                    .LostActionInstanceTimelineStateLostActionFunctionSetAllEssence {                   
                        height: 50px;                    
                        top: 50px;                    
                    }

                    .LostActionInstanceTimelineStateLostActionFunctionSetAllActions {
                        height: 60px;        
                        top: 60px;                     
                    }
                }

                .LostActionInstanceTimelineIndividualEncounterPullWithLostActionDropdownContent {                
                    height: 220px;
                    width: 300px;
                    border-radius: 10px;
                    position: relative;    
                    background: $dropdownBoxForLostActionsLink;   

                    .LostActionInstanceTimelineIndividualEncounterPullWithLostActionDropdownContentInnerContainer {                   
                        margin: 10px;
                        overflow-y: scroll;
                        height: 90%;
                        width: 95%;
                        position: relative;                  
                     
                        .DropdownItemLostActionRow {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            height: 40px;
                            &:hover{
                                background-color: rgba(29, 7, 11, 0.3);
                            }

                            .DropdownItemLostActionImage {
                                display: flex;
                                pointer-events: none;
                             
                                img {
                                    height: 30px;
                                }
                            }
                        
                            .DropdownItemLostActionName {
                                pointer-events: none;
                                color: #F4F2F2; 
                                text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;
                            }
                        }
                    }
                } 
            }
        }
    }
}

.LostActionSeparatorSegment {
    margin: 1px 0px 1px 2px;
    width: 100%;
}

.LostActionInstanceTimelineHelpBoxContainer {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 15px;
    
    .LostActionInstanceTimelineHelpBoxTitleAndClose {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-align: center;
       
        .LostActionInstanceTimelineHelpBoxTitle{
            font-size: 20px;
            text-decoration: underline;
        }
    }

    .LostActionInstanceTimelineHelpBoxResources {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 5px;
        align-items: center;
        line-height: 1.5;
       
        padding: 5px;
        .LostActionInstanceTimelineHelpBoxInPull {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
}

.LostActionInstanceTimelineGap {
    height: 100%;
    margin-bottom: 40px;
    margin-right: 4px;
                
    .LostActionSeparatorSegment {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 235px;
        
        .LostActionSeparatorSegmentLeftEnd, .LostActionSeparatorSegmentRightEnd {
            height: 1px;
            background-color: white;
            width: 3px;
            background: linear-gradient(90deg, #242424, #444344, #6A6A6A);
            border-radius: 0px;  
        }

        .LostActionSeparatorSegmentLeftEnd {              
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;       
        }

        .LostActionSeparatorSegmentRightEnd {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .LostActionSeparatorSegmentCenter {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 98%;
            
            .LostActionSeparatorSegmentCenterUpper, .LostActionSeparatorSegmentCenterMiddle, .LostActionSeparatorSegmentCenterLower {
                width: 1px;
                height: 100%; 
            }

            .LostActionSeparatorSegmentCenterUpper {                   
                background-color: #242424;                  
            }
            
            
            .LostActionSeparatorSegmentCenterMiddle {
                background-color: #444344;
            }
        
            .LostActionSeparatorSegmentCenterLower {
                background-color: #6A6A6A;
            }
        }
    }
}