.LostFindsHolsterInnerContainer {
    position: relative;
    margin: 48px 15px 0px 15px;
    height: 88%;
    display: flex;
    flex-direction: column;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
    ::-webkit-scrollbar {
        display: flex;
        position: relative;
        width: 8px;
        height: 30px;
    }
    ::-webkit-scrollbar-track {
        background: white;
        
    }
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }
}

.LostFindsHolsterPlayerHolster {
    height: 82%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: -4px;
}

.LostFindsHolsterActionCategoryOffensive, .LostFindsHolsterActionCategoryDefensive, .LostFindsHolsterActionCategoryRestorative, .LostFindsHolsterActionCategoryBeneficial, .LostFindsHolsterActionCategoryTactical, .LostFindsHolsterActionCategoryDetrimental, .LostFindsHolsterActionCategoryItemRelated {
    margin-bottom: 3px;
}

.LostFindsHolsterActionCategoryFancyGraphic {
    background-color: #968C87;
    height: 18px;
    border-radius: 6px;
    display: flex;
    padding-left: 6px;
    margin: 3px 8px 3px 4px;
    align-items: center;

    .LostFindsHolsterActionCategoryFancyGraphicPicture {
        border-radius: 50%;
        height: 15px;
        padding-right: 2px;
    }

    .LostFindsHolsterActionCategoryName {
        color: #292625;
        font-weight: bold;
    }
}

.LostFindsHolsterActionBox {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-left: 1px;
    height: 36px;
    &:hover {
        .LostFindsHolsterActionBoxName {
            background-color: #1D070B;
        }
    }

    .LostFindsHolsterActionBoxImage { 
        pointer-events: none;
        align-items: center;
        display: flex;
        height: 36px;
        width: 36px;
        img {
            height: 36px;
        }
    }

    .LostFindsHolsterActionBoxNameAndQuantity {
        display: flex;
        flex-direction: row;
        position: relative;
        align-items: center;
        width: 100%;
        pointer-events: none;

        .hidden {
            visibility: hidden;
        }
        
        .LostFindsHolsterActionBoxName {
            pointer-events: none;
            display: flex;
            align-items: center;
            color: #F1E7CF;
            padding-left: 4px;
            width: 100%;  
            height: 31px;
            left: -12px;
            position: relative;
            border-radius: 5px;
        }
    
        .LostFindsHolsterActionBoxQuantity { 
            pointer-events: none;
            position: relative;
            color: #FFFFFF;         
            left: -21px;
            font-size: 18px;
            text-align: right;
            top: 10px;
            width: 20px;

            span {
                text-shadow: -1px 0px 6px black, 1px 0px 6px black, 0px 1px 6px black, 0px -2px 4px black;
            }
        }
    }
}

.LostFindsHolsterWeightAndCapacityBox {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 6px;
    height: 60px;
    font-size: 20px;


    .LostFindsHolsterSelectedActionWeight {
        display: flex;
        height: 50%;

        .LostFindsHolsterRoleSelection, .LostFindsHolsterCreateLink {
            width: 12.5%;
            display: flex;
            position: relative;
            justify-content: center;
            top: -2px;
           
            img {
                height: 35px;
                
            }
        }
        .LostFindsHolsterRoleSelection {
            left: 3px;
        }
        .LostFindsHolsterCreateLink {
            justify-content: left;
            left: -4px;
          
        }

        .LostFindsHolsterSelectedActionWeightText {
            width: 45%;
            text-align: right;
            color: #F4F2F2;
            text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;
        }

        .LostFindsHolsterSelectedActionWeightDisplay {
            width: 10%;
            text-align: right;
            color: #F9CEA5;
            text-shadow: -1px 0px 1px #C07A3C, 1px 0px 1px #C07A3C, 0px 1px 1px #C07A3C, 0px -1px 1px #C07A3C;
        }

        .LostFindsHolsterSelectedActionWeightBlankSpace {
            width: auto;
        }
    }

    .LostFindsHolsterMaximumCapacity {
        display: flex;
        flex-direction: row;
        height: 50%;      
        align-items: center;
        margin-top: 6px;

        .LostFindsHolsterMaximumCapacity200 {
            width: auto;
            padding-left: 5px;
            color: #F9CEA5;
            text-shadow: -1px 0px 1px #C07A3C, 1px 0px 1px #C07A3C, 0px 1px 1px #C07A3C, 0px -1px 1px #C07A3C; 
        }

        .LostFindsHolsterSaveHolster {
            width: 10%;
            display: flex;
            position: relative;
            align-items: end;
            justify-content: end;
            left: -2px; 

            filter: drop-shadow(0px 0px 2px black);
            img {
                height: 25px;
                border-radius: 100%;
            }
        }

        .LostFindsHolsterClearHolster {
            width: 11%;
            display: flex;
            position: relative;
            justify-content: center;
            filter: drop-shadow(0px 0px 2px black);
            
            img {
                height: 25px;
                border-radius: 100%;    
            }
        }

        .LostFindsHolsterMaximumCapacityText {
            width: 49%;
            text-align: right;
            color: #F4F2F2;
            text-shadow: -1px 0px 2px black, 1px 0px 2px black, 0px 1px 2px black, 0px -1px 2px black;
        }

        .LostFindsHolsterMaximumCapacityNumber {
            width: 10%;
            text-align: right;       
        }
    }

    .LostFindsHolsterSetSavedNotification {
        position: relative;
        top: -6px;
        left: 0px;
        font-size: 15px;
        display: none;
    }
}

/*
.LostActionSeparatorSegment {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 4px 0px 4px -4px;
    
    .LostActionSeparatorSegmentLeftEnd, .LostActionSeparatorSegmentRightEnd {
        height: 3px;
        background-color: white;
        width: 1px;
        background: linear-gradient(#242424, #444344, #6A6A6A);
    }

    .LostActionSeparatorSegmentLeftEnd {              
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;               
    }

    .LostActionSeparatorSegmentRightEnd {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .LostActionSeparatorSegmentCenter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 98%;
        
        

        .LostActionSeparatorSegmentCenterUpper {                   
            background-color: #242424;                  
        }
        
        
        .LostActionSeparatorSegmentCenterMiddle {
            background-color: #444344;
        }
    
        .LostActionSeparatorSegmentCenterLower {
            background-color: #6A6A6A;
        }
    }
} css that does nothing but kept just incase
*/
