
#LostFindsHolsterContainer {
    background: url('../../../../ui/pictures/BozjaLostFindsHolsterFinal.png') no-repeat;
    font-family: ekmukta;
    background-size: 475px;
    width: 475px;
    height: 515px;
    margin-right: 3px;
    z-index: 0;
    border-radius: 14px;
}